#header{
    background-color: red;
    height: 8vh;
}

#slider{
    background-color: blue;
    height: 48vh;
}

#image{
    background-color: yellow;
    height: 48vh;
}

#text{
    background-color: orange;
    height: 48vh;
}

.article{
    background-color: green;
    height: 48vh;
    margin: 16px;
    align-content: center;
}

.col-4 {
    width: 25%;
    padding: 10px;
  }
